// .containerProd {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
.individual1 {
    border: 1px solid black;
    width: 200px;
    height: auto;
  
    img {
      width: auto;
      height: 160px;
      object-fit: cover
    }
  }
  