@charset "UTF-8";
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.link {
  height: 17%;
}

.bebida {
  height: 90%;
}

@media (max-width: 768px) {
  .link {
    height: 10%;
  }
  .bebida {
    height: 90%;
  }
}
@media (min-width: 1024px) {
  .link {
    height: 25%;
  }
  .bebida {
    height: 90%;
  }
}