.salon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Cambia el número '4' si necesitas más o menos columnas
    gap: 1rem;
  }
  
  .table-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .table-selected {
    background-color: #28a745;
    &:hover {
      background-color: #218838;
    }
  }
  