.containerApp{
  display: flex;
  width: 100%;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vh;
}

.calculadora{
  background-color: #282c34;
  width: 40%;
  height: 40%;
}

.textarea{
  background-color: #0c46b8;
  width: 60%;
  height: 40%;
}

.botonesLaterales{
  background-color: #6fd720;
  width: 30%;
  height: 100vh;
}

.products {
  width: 70%;
  text-align: center;
}


.categoria{
  background-color: #0e007b;
  width: 30%;
  height: 60%;
  overflow-y: scroll;
}


.App-div {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
