.containerApp{
  display: flex;
  width: 100%;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vh;
}

.calculadora{
  background-color: #282c34;
  width: 40%;
  height: 40%;
}

.textarea {
  position: relative;
  background-color: #ff0e0eee;
  width: 60%;
  height: 40%;
  overflow: auto;
}

.textarea .barraInferior {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  border: 2px solid orange;
  color: white;
  padding: 10px;
}

.textarea p{
  position: sticky;
  bottom: 0;
  padding: 10px;
  font-weight: bold;
}

.cuenta{
  display: flex;
  justify-content: space-between;
}

.botonesLaterales{
  background-color: #6fd720;
  width: 30%;
  height: 100vh;
}

.products {
  width: 70%;
  text-align: center;
}


.categoria{
  background-color: #0e007b;
  width: 30%;
  height: 60%;
}

.categoria img{
    width: 146px;
    border: 1px solid black;
    height: auto;
    object-fit: cover;
}

.App-div {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
